/*  your css code here. If applicable */
.grid-container{
	display:flex;
	width:100vw;
	justify-content: space-between;
	flex-wrap:wrap;
	grid-template-columns: repeat(9,100px);
}

.grid-item{
	width:100px;
	height:100px;
	background-color: gray;
	font-size: 30px;
	text-align:center;
}
	
}